.store-nav-top{
	top:40px!important;
	background-color:black;
	width:90vw;
}

.width-container{
	width:70vw;
}

.logo-img{
	height:44px;
}

.apparel-header{
	margin-top:40px;
	max-height:140px;
}

/*Holds front store page array of items*/
.product-container{
	max-width:700px;
}