.store-nav-top{
	top:40px!important;
	margin-top:40px;
	background-color:black;
	width:90vw;
}

.width-container{
	width:70vw;
}

.logo-img{
	height:44px;
}

.apparel-header{
	margin-top:40px;
	max-width:250px;
}

/*Holds front store page array of items*/
.product-container{
	max-width:700px;
	background-color:black;
}

/*individual item display area*/
.item-display-box{

	border-radius:20px;
	border-top:solid #FFDF00 1px;
	border-bottom:solid #FFDF00 1px;
	
	padding:10px;
	background-color:rgba(255,223,0,0);
	max-width:300px;
	height:420px;
	margin-bottom:20px;

}

.cursor-pointer{ 
	color:#FFEC64;
    }



.checkout{

	right: 120px;
	position: absolute;
	margin-top:16px;
	border-radius:10px;
	border-left:solid #FFDF00 1px;
	border-right:solid #FFDF00 1px;
	background-color:rgba(255,223,0,.2);

}

.details{
	position:absolute;
	margin-top:10px;
	
}

.link-to-item-page{
	height:54px;
}

.add-to-cart{
	margin-top:4px;
	color:#FFDF00;
}

.add-to-cart:hover{
	color:#ffdf00;
}


 .price{
 	position: absolute;
	color: #FFDF00;
	right:42px;
 }


 /*adds ...*/
 .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
.item-page{
	border-left:solid #FFDF00 1px;
	border-right:solid #FFDF00 1px;
	border-radius:4px;
}
*/