<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">
	
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/home.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/store.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">



	<script type="text/javascript" src="{{'assets/javascript/ion-min.js' | theme}}"></script>

	<!--Store Item Display-->
	<script type="text/javascript" src="{{'assets/javascript/store-display.js' | theme}}"></script>

	
	<script src="{{ 'assets/javascript/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
	

	{% scripts %}

	<title>{{ this.page.title }}</title>

	
<!-- Google Analytics -->
 
<!-- Google Analytics END -->

</head>

<body>
<!-- Main container -->
<div class="page-container" >

     {% page %}


</div>

</body>
</html>

