[facebookSession]
security = "all"

[myBasket]
idElementTotalCartPrice = "#jkshop-total-basket"
idElementWrapperBasketComponent = "#jkshop-basket-component-wrapper"
productPage = "product"
paymentPage = "payment"
==
<?php
function onStart() {
}
?>
==
<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">
	{% styles %}
	        <!-- SmartMenus jQuery Bootstrap Addon CSS -->
        <link rel="stylesheet" href="{{'assets/vendors/smartmenus/jquery.smartmenus.bootstrap.css'|theme}}" />

	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap-glyphicons.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/home.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/store.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/header.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- Add fancyBox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css" media="screen" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


	<script type="text/javascript" src="{{'assets/javascript/ion-min.js' | theme}}"></script>

	
	
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
	



	<title>{{ this.page.title }}</title>

	
<!-- Google Analytics -->
 
<!-- Google Analytics END -->

</head>

<body>
<!-- Main container -->
<div class="page-container" >

	<!--Background Setup-->
	<div class="background-image"></div>
	<div class=" background-effect"></div>

	     {% page %}


</div>
{% framework extras %}
{% scripts %} 
</body>
</html>